body {
    margin: 0;
    height: 100vh;
    background-image: url(img/lapy\ pozad.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

}
.cent {
    background-color: rgba(255, 255, 255, 0.85);
    width: 90%;
    max-width: 900px;
    height: 85vh;
    margin: 5vh 0;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    
text-align: center;
}
h1 {
    text-align: center;

}